header {
    display: flex;
    background-color: #BA1F33;
    border-bottom: 10px solid white;
    padding: 10px 20px;
    justify-content: space-between;
}

nav {
    text-align: right;

}

a {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
}

a::before{
    content:"";
    display: inline-flex;
    margin-right: 10px;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

a:hover{
    transform: scale(1.05);
    opacity: 80%;
}

.button_dev:hover {
    transform: scale(1.05);
    opacity: 80%;
    
}

.button_dev {
    display: block;
    background-color: black;
    box-shadow: 5px -5px 0px #3A4042;
    padding: 18px 20px;
    border-radius: 10px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
    margin-right: 40px;
}

.socials:hover {
    transform: scale(1.05);
    opacity: 80%;
}

.socials {
    margin-right: 40px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
}

footer {
    background-color: black;
    height: 50px;
    text-align: center;
    margin-top: 800px;
    height: 100p;
}
