header {
    display: flex;
    background-color: #BA1F33;
    border-bottom: 10px solid white;
    padding: 10px 20px;
    justify-content: space-between;
}

nav {
    text-align: right;

}

body{
    background-color: #3A4042;
}

a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-family: "Fira Code", sans-serif, Arial;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content:"";
    display: inline-flex;
    margin-right: 10px;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.buttons {
    display: inline-flex;
    background-color: black;
    box-shadow: 5px -5px 0px #3A4042;
    padding: 18px 20px;
    border-radius: 10px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
    margin-right: 40px;
}

.buttons:hover {
    transform: scale(1.05);
    opacity: 80%;
    
}

.button_dev:hover {
    transform: scale(1.05);
    opacity: 80%;
    
}

.button_dev {
    display: block;
    background-color: black;
    box-shadow: 5px -5px 0px #3A4042;
    padding: 18px 20px;
    border-radius: 10px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
    margin-right: 40px;
}

h1{
    display: inline-flex;
    height: 82px;
    left: 442px;
    top: 182px;
    width: 611px;
    font-size: 55px;
    font-family: "Pacifico", Arial, sans-serif;
    color:#BA1F33


}

h2{
    font-size: 48px;
    font-family: "castoro", Arial, sans-serif;
    color: white;

}

footer {
    background-color: black;
    height: 50px;
    text-align: center;
    margin-top: 800px;
}
