.about {
    content: border-box;
    background-color: #BA1F33;
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid rgb(255, 255, 255);
    padding-left: 720px;
    padding-top: 30px;
}