.box {
    display: inline-block;
    background-color: #BA1F33;
    box-shadow: 5px 5px 0px white;
    text-align: center;
    padding: 20px 40px;
    margin-top: 50px;
    text-decoration: none;
}

.box .title {
    margin-bottom: 15px;
}

.box .subtitles {
    margin-bottom: 10px;
}

