.box {
    display: inline-block;
    background-color: black;
    box-shadow: 5px 5px 0px #3A4042;
    border-radius: 10px;
    text-align: center;
    padding: 20px 40px;
    margin-top: 50px;
    text-decoration: none;
}

.box .title{
    margin-bottom: 15px;
}

.box .subtitles{
    margin-bottom: 10px;
}