.buttons_banner {
    display: inline-flex;
    background-color: #BA1F33;
    box-shadow: 5px -5px 0px white;
    padding: 20px 20px;
    border-radius: 10px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
    margin-right: 40px;
    font-size: 20px;
    color: White;
    font-family: inherit;
    text-decoration: none;
}

.buttons_banner:hover {
    transform: scale(1.05);
    opacity: 80%;
    
}