.contact {
    content: border-box;
    background-color: #3A4042;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid rgb(255, 255, 255);
    padding-left: 720px;
}