footer {
    background-color: black;
    height: 50px;
    text-align: center;
    height: 100p;
}

.socials:hover {
    transform: scale(1.05);
    opacity: 80%;
}

.socials {
    margin-right: 40px;
    transition: transform 95ms linear, opacity 95ms ease-in-out;
}

