@media (max-width: 360px) {
    .header {
        width: 1280px;

    }
    .banner {
        height: 750px;
        width: 700px;
        
    }

    .box {
        margin-left: -500px;

    }

    .menu {
        display: none;
    }

  }
  