.skill-tec {
    display: flex;
    font-family: "Lilita One";
    font-style: italic;
    font-size: 50px;
}

.skill-tec .icon {
    margin-right: 25px;
    
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
