.skill-tec {
    display: flex;
    align-items: center;
    font-family: "Lilita One";
    font-style: italic;
    font-size: 50px;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 90px;
    
}

.skill-tec .right {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .title {
    margin-bottom: 10px;

}
