h1 {
    font-size: 60px;
    font-family: "Pacifico", Arial, sans-serif;
    color:#BA1F33;
    text-align: center;
    line-height: 75px;
    font-style: italic;
    text-shadow: 4px 4px 0px #ffffff;
}
